@import url('https://fonts.googleapis.com/css?family=El+Messiri:400,500,600,700&subset=cyrillic');

@font-face {
  font-family: 'Glacial Indifference';
  src: url('../fonts/GlacialIndifference-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('../fonts/GlacialIndifference-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('../fonts/GlacialIndifference-Italic.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'MoolBoran';
  src: url('../fonts/Moolboran.ttf');
  font-weight: normal;
  font-style: normal;
}

@chocolate: #1a1a1a;
@vanilla: #F7F7F7;
@blue: #00C4E6;
@transition-duration: 0.6s;

* {
  padding: 0;
  margin: 0;

}

/*плавная загрузка страниц*/
@-webkit-keyframes fade-in {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fade-in {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes downArrow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .75;
  }
  65% {
    opacity: .50;
  }
  70% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}

// показ фиксированной части страницы

@keyframes showHeader {
  0% {
    opacity: 0;
    top: -70px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes titleIn {
  0% {
    color: transparent;
  }

  25% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  100% {
    color: @chocolate;
  }
}

@keyframes hyphenIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wordsFill {
  0% {
    left: 0;
    width: 0;
  }
  25% {
    width: 100%;
  }
  75% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0px;
    right: 0;
  }
}

@keyframes scrollDownBoom {
  0% {
    top: 0;
  }
  25% {
    top: 65px;
  }
  50% {
    top: 50px;
  }
  75% {
    top: 65px;
  }
  100% {
    top: 50px;
  }
  //85% {
  //  top: 50px;
  //}
}

@keyframes nortimgColorized {
  0% {
    background: url("../img/nortimg-colored.svg");
  }

  50% {
    background: url("../img/nortimg.svg");
  }

  100% {
    background: url("../img/nortimg-colored.svg");
  }
}

textarea {
  resize: none;
}

body {
  background: #F7F7F7;
  z-index: -2;
  font-family: 'Moolboran', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;

  /*плавная загрузка страниц*/
  -webkit-animation: fade-in .3s linear; /* Safari 4+ */
  -moz-animation: fade-in .3s linear; /* Fx 5+ */
  -o-animation: fade-in .3s linear; /* Opera 12+ */
  animation: fade-in .3s linear; /* IE 10+, Fx 29+ */
}

main {
  width: 100vw;
  margin: 0 auto;
  max-width: 3000px;
}

a {
  text-decoration: none;
  color: @chocolate;
  font-family: 'Glacial Indifference', sans-serif;
  font-size: 20px;
  text-align: center;
  &:hover {
    text-decoration: none;
  }

}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.transition {
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.transition-linear {
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

h1, h2, h3, h4, h5, h6 {
  color: @chocolate;
  font-family: 'Moolboran', sans-serif;
}

h2 {
  font-size: 112px;
  font-weight: 100;
}

h3 {
  font-size: 72px;
  font-weight: 100;
}

p {
  font-family: 'Glacial Indifference';
  font-size: 20px;
  font-weight: 100;
  color: @chocolate;
}

h1, h2, h3, h4, h5, h6, p {

  &::selection {
    background: @blue;
    color: @vanilla;
  }
}

ol {
  counter-reset: item
}

.button-first {
  border: 2px solid @chocolate;
  height: 56px;
  width: 220px;
  -webkit-transition: all @transition-duration;
  -moz-transition: all @transition-duration;
  -ms-transition: all @transition-duration;
  -o-transition: all @transition-duration;
  transition: all @transition-duration;
  &:hover {
    background: @chocolate;
    color: @vanilla;
  }
}

.button-second {
  border: 2px solid @vanilla;
  height: 70px;
  width: 273px;
  -webkit-transition: all @transition-duration;
  -moz-transition: all @transition-duration;
  -ms-transition: all @transition-duration;
  -o-transition: all @transition-duration;
  transition: all @transition-duration;
  line-height: 5rem;
  &:hover {
    background: @vanilla;
    color: @chocolate;
  }
}

.body-lines {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: -1;
  &__item {
    width: 1px;
    height: 100%;
    background: #DEDEDE;
    opacity: .35;
    &-left {
      margin-right: 500px;
    }
    &-right {
      margin-left: 500px;
    }
  }
}

.header {
  padding: 30px 70px 0 70px;

  &-fixed {
    -webkit-animation-name: showHeader;
    -moz-animation-name: showHeader;
    -o-animation-name: showHeader;
    animation-name: showHeader;
    position: fixed;
    width: 100%;
    padding: 10px 40px 10px 40px;
    background: @vanilla;
    z-index: 2;
    //#menuToggle {
    //  position: absolute;
    //  right: 100px;
    //
    //}

    .nortimg {
      background: url("../img/nortimg.svg") no-repeat !important;

      &:hover {
        background:  url("../img/nortimg-colored.svg") !important;
      }
    }
  }

  .nortimg {
    background: url("../img/nortimg-colored.svg") no-repeat;
    width: 271px;
    height: 80px;
    cursor: pointer;
    -webkit-transition: all @transition-duration;
    -moz-transition: all @transition-duration;
    -ms-transition: all @transition-duration;
    -o-transition: all @transition-duration;
    transition: all @transition-duration;
    animation: nortimgColorized 1s 2 ease-in-out;
    &:hover {
      background: url("../img/nortimg.svg") no-repeat;
    }
  }

  // BURGER MENU

  #menuToggle {
    display: block;
    position: absolute;
    right: 100px;
    top: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;

  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    //top: 20px;
    //left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  /*
   * Just a quick hamburger
   */
  #menuToggle span {
    display: block;
    width: 45px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: @chocolate;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;

  }

  #menuToggle-middle {
    width: 35px !important;
    left: 10px;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;

  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /*
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: @vanilla;
  }

  #menuToggle input:checked {

  }

  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: translateY(7px) rotate(-45deg);

  }

  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu {
    position: absolute;
    width: 100vw;
    height: 110vh;
    margin: -100px 0 0 -200px;
    padding: 125px 0 50px 50px;
    background: #30302D;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    opacity: 1;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

    a {
      color: @vanilla;
      font-size: 40px;
      line-height: 1;
      display: inline-block;
      cursor: pointer;

      &:hover, &:focus {
        color: #F4F4F4;

        &:after {
          width: 100%;
        }
      }
      &:after {
        display: block;
        content: "";
        height: 2px;
        width: 0%;
        background-color: #C9C9C9;
        transition: width .3s ease-in-out;
      }
    }

    li {
      padding: 10px 0;
      font-size: 22px;
    }
  }

  /*
   * And let's slide it in from the left
   */
  #menuToggle input:checked ~ ul {
    transform: none;
  }
}

// main-section

.first-section {
  padding-left: 70px;
  padding-right: 70px;
  height: 100vh;
  &__images {
    position: absolute;
    right: -120px;
    top: -100px;
    .trident {
      width: 1005px;
      height: 805px;
      position: absolute;
      right: 100px;
      top: 0;
    }
    .loki {
      width: 270px;
      height: 700px;
      position: relative;
      right: 595px;
      top: 0;
    }
  }
  &__title {
    position: relative;
    top: 200px;
    right: -250px;
    width: 320px;
    h3 {
      display: inline-block;
      -webkit-animation: titleIn 3s ease;
      -o-animation: titleIn 3s ease;
      animation: titleIn 3s ease;
      &:before {
        content: '';
        background: @chocolate;
        height: 50px;
        display: block;
        position: absolute;
        z-index: 3;
        -webkit-animation: wordsFill 2s ease;
        -o-animation: wordsFill 2s ease;
        animation: wordsFill 2s ease;
        right: 0;
      }
    }
    p {
      margin-top: -25px;
      -webkit-animation: titleIn 3s ease;
      -o-animation: titleIn 3s ease;
      animation: titleIn 3s ease;
      &:before {
        content: '';
        background: @chocolate;
        height: 20px;
        display: block;
        position: absolute;
        z-index: 3;
        -webkit-animation: wordsFill 2s ease;
        -o-animation: wordsFill 2s ease;
        animation: wordsFill 2s ease;
        right: 0;
      }
    }
  }

  aside {
    .icons {
      margin-top: 30px;
      .icon {
        display: block;
        width: 21px;
        height: 25px;
        -webkit-background-size: contain;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: .7;
        cursor: pointer;
        margin-bottom: 40px;
        -webkit-transition: all .3s ease-in;
        -moz-transition: all .3s ease-in;
        -ms-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        transition: all .3s ease-in;
        &:hover {
          opacity: 1;
        }
      }
      &__github {
        background: url("../img/icons8-github.png");
      }
      &__mail {
        background: url("../img/icons8-email-96.png");
        &:hover::after {
          content: attr(data-title);
          padding: 10px;
          background: @chocolate;
          color: @vanilla;
          position: relative;
          left: 50px;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        }
        &-2 {
        background: url("../img/icons8-email-96.png");
        &:hover::after {
          content: 'Email copied!';
          padding: 10px;
          background: #00C4E6;
          color: #f7f7f7;
          position: absolute;
          left: 50px;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
          -webkit-transition: .3s all ease;
          -moz-transition: .3s all ease;
          -ms-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease;
        }

      }
      }
      &__vk {
        background: url("../img/icons8-vk-circled-90.png");
      }
    }
  }

  .scrollDown {
    position: relative;
    height: 230px;
    width: 100px;
    margin-top: 100px;

    a {
      font-size: 10px;
      font-weight: 100;
      position: absolute;
      text-decoration: none;
      color: @chocolate;
      transform: rotate(90deg) translateY(22px);
      opacity: .8;
      top: 50px;
      -webkit-animation: scrollDownBoom 1.5s ease-in-out;
      -o-animation: scrollDownBoom 1.5s ease-in-out;
      animation: scrollDownBoom 1.5s ease-in-out;
    }
    img {
      position: absolute;
      bottom: -10px;
      left: -10px;
      width: 40px;
      animation: downArrow infinite 1.5s;

    }
  }
}

.second-section {
  padding-top: 200px;

  &-title {
    line-height: 102px;
    position: relative;
    width: 505px;
    h2 {
      -webkit-animation: titleIn 3s ease;
      -o-animation: titleIn 3s ease;
      animation: titleIn 3s ease;
      width: 350px;
      span.madeWithSpan {
        &:before {
          content: '';
          background: @chocolate;
          height: 60px;
          display: block;
          position: absolute;
          z-index: 3;
          -webkit-animation: wordsFill 2s ease;
          -o-animation: wordsFill 2s ease;
          animation: wordsFill 2s ease;
          right: 0;
        }
      }

      span {
        &:before {
          content: '';
          background: @chocolate;
          height: 60px;
          display: block;
          position: absolute;
          z-index: 3;
          -webkit-animation: wordsFill 2s ease;
          -o-animation: wordsFill 2s ease;
          animation: wordsFill 2s ease;
          right: 0;
        }
      }
    }
    .hyphen {
      width: 98px;
      height: 4px;
      background: @chocolate;
      display: inline-block;
      position: absolute;
      top: 136px;
      left: 193px;
      -webkit-animation: hyphenIn 4s ease;
      -o-animation: hyphenIn 4s ease;
      animation: hyphenIn 4s ease;
    }
    p {
      margin-top: -30px;
      animation: titleIn 3s ease-in;
      &:before {
        margin-top: 30px;
        content: '';
        background: @chocolate;
        height: 30px;
        display: block;
        position: absolute;
        z-index: 3;
        -webkit-animation: wordsFill 2.2s ease-out;
        -o-animation: wordsFill 2.2s ease-out;
        animation: wordsFill 2.2s ease-out;
        right: 0;
      }
    }
  }
  a.button-first {
    line-height: 55px;
    margin-top: 100px;
    cursor: pointer;
  }
  .projects {
    margin-top: 115px;
    &-item {
      position: relative;
      left: 0;
      padding: 120px 0 120px 0;
      cursor: pointer;
      &__title {
        &_line {
          width: 210px;
          height: 2px;
          background: #616161;
        }
        &_number {
          font-size: 30px;
          font-weight: bold;
          font-family: 'Montserrat', sans-serif;
          top: 100px;
          left: 225px;
        }
        &_h3 {
          font-size: 50px;
          top: 95px;
          left: 315px;
        }
        &_p {
          top: 150px;
          left: 315px;
          font-size: 25px;
          font-family: 'Glacial Indifference', sans-serif;
        }
        &:before {
          position: absolute;
          content: '';
          width: 0%;
          height: 100%;
          background: @blue;
          top: 0;
          left: auto;
          z-index: -1;
          -webkit-transition: all @transition-duration ease-in-out;
          -moz-transition: all @transition-duration ease-in-out;
          -ms-transition: all @transition-duration ease-in-out;
          -o-transition: all @transition-duration ease-in-out;
          transition: all @transition-duration ease-in-out;
        }
      }

      &__view {
        width: 170px;
        background-image: url("../img/right-arrow.png");
        background-position: top left;
        background-repeat: no-repeat;
        -webkit-background-size: 128px 10px;
        background-size: 128px 10px;
        position: absolute;
        padding-top: 40px;
        right: 190px;
        top: 100px;
        text-align: left;
        &_rectangleBG {
          &:after {
            content: '';
            height: 111px;
            width: 0;
            top: 65px;
            right: 0;
            background: @chocolate;
            position: absolute;
            -webkit-transition: all @transition-duration;
            -moz-transition: all @transition-duration;
            -ms-transition: all @transition-duration;
            -o-transition: all @transition-duration;
            transition: all @transition-duration;
          }
        }
      }

      &:hover {
        .projects-item {
          &__title {
            &_h3, &_p, &_number {
              color: @vanilla;
            }
            &_h3, &_p {
              z-index: 1;
              margin-left: 80px;
            }
            &_line {
              width: 360px;
              height: 2px;
              background: #A8E7F2;
            }
            &_number {
              font-size: 100px;
              position: absolute;
              top: 60px;
              left: 420px;
              font-weight: bolder;
              z-index: 0;
              opacity: .2;
            }
            &:before {
              position: absolute;
              content: '';
              width: 100%;
              height: 100%;
              background-color: @blue;
              top: 0;
              left: 0;
              z-index: -1;
            }
          }

          &__view {
            color: @vanilla;
            background-image: url("../img/right-arrow-vanilla.png");
            -webkit-background-size: 170px 10px;
            background-size: 170px 10px;
            text-indent: 20px;
            &_rectangleBG {
              &:after {
                z-index: -1;
                content: '';
                width: 450px;
                right: 0;
              }
            }
          }
        }

      }
    }
  }
}

.footer {
  padding: 173px 0 128px 0;
  background: #333333;

  &-content {
    text-align: center;

    &_h2 {
      color: @vanilla;
    }
    &_p {
      color: @vanilla;
      margin-top: -2rem;
    }
    &__button {
      color: @vanilla;
      font-size: 36px;
      font-family: 'Moolboran', sans-serif;
      display: block;
      margin: 40px auto;
      cursor: pointer;
    }
  }
}

#myMail {
  position: absolute;
  color: transparent;
  top: 0;
  left: -200px;
}




